name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  frontend:
    name: Frontend
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Bun install
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Dependencies install
        run: bun install --frozen-lockfile

      - name: Run tests
        run: bun test

  backend:
    name: Backend
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Bun install
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Dependencies install
        run: bun install --frozen-lockfile

      - name: Run tests
        run: bun test