name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Bun install
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Dependencies install
        run: bun install

      - name: Run lint
        run: bun run check

  frontend:
    name: Frontend
    runs-on: ubuntu-latest

    needs: lint

    permissions:
      contents: read
      packages: write

    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Bun install
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Dependencies install
        run: bun install

      - name: Run tests
        run: bun run test

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        if: github.event_name != 'pull_request'
        id: meta-front
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/frontend
          tags: |
            type=ref,event=branch
            type=sha,format=long

      - name: Build and push Docker image
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ steps.meta-front.outputs.tags }}
          labels: ${{ steps.meta-front.outputs.labels }}

  backend:
    name: Backend
    runs-on: ubuntu-latest

    needs: lint

    permissions:
      contents: read
      packages: write

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Bun install
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Dependencies install
        run: bun install

      - name: Run tests
        run: bun run test

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        if: github.event_name != 'pull_request'
        id: meta-back
        uses: docker/metadata-action@v5
        with:
         images: ghcr.io/${{ github.repository }}/backend
         tags: |
           type=ref,event=branch
           type=sha,format=long

      - name: Build and push Docker image
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v5
        with:
         context: ./backend
         file: ./backend/Dockerfile
         push: true
         tags: ${{ steps.meta-back.outputs.tags }}
         labels: ${{ steps.meta-back.outputs.labels }}

  deploy:
    name: Deploiement
    runs-on: ubuntu-latest
    needs: [ backend, frontend ]
    if: ${{ always() && github.event_name != 'pull_request' && !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
            docker pull ${{ env.REGISTRY }}/hikikomori041/teaching-fish-keepers/backend:main
            docker pull ${{ env.REGISTRY }}/hikikomori041/teaching-fish-keepers/frontend:main
            docker compose up -d --force-recreate